In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [53]:
df = pd.read_csv('test.csv',sep = ';')
pd.set_option('display.max_columns', 500)
df

,USER_ID,ACT_DATE,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,BIRTHDAY,GENDER,MLLS_STATE,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16
0,24588883,2016-04-19,Q,TP_3GM,0.0,Commercial,Promo,1983-08-26,M,NaN,False,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000
1,22709104,2014-11-22,D,TP_XS,0.0,Commercial,Standard,1981-03-19,F,NaN,False,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000
2,608546,2009-04-02,D,TP_FREE,0.0,NaN,NaN,NaN,F,NaN,False,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855
3,6309892,2011-12-15,D,TP_ANDR,0.0,NaN,NaN,1984-11-28,M,NaN,False,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000
4,7556468,2013-06-17,D,TP_DL012,0.0,Commercial,Standard,1992-08-31,F,NaN,False,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,2015-07-11,D,TP_MNEW,2.0,Commercial,Promo,1994-04-11,M,Active,True,False,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700
19996,24726776,2016-08-17,F,TP_CRTBL,0.0,Promo,Standard,1994-04-24,F,NaN,False,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000
19997,4331543,2011-01-12,R,TP_ANDR,0.0,NaN,NaN,1987-05-12,M,NaN,False,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000
19998,22829316,2014-12-25,D,TP_STP,0.0,Commercial,Standard,1987-04-14,M,NaN,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790
19999,23850584,2015-10-06,D,TP_XS,0.0,Commercial,Standard,1997-08-12,M,NaN,False,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970

Add columns of age and duration in months

In [54]:
from datetime import date, datetime


today = datetime(2016,11,1)
def calculate_age(born):    
    return (today - born)/np.timedelta64(1,'Y')


def calculate_months(beg):
    return (today - beg)/np.timedelta64(1,'M')

In [55]:
age = []
usage = []

for entry in range(len(df)):
    usage.append(int(calculate_months(pd.to_datetime(df.ACT_DATE[entry]))))
    age.append(calculate_age(pd.to_datetime(df.BIRTHDAY[entry])))

age = pd.Series(age)
usage = pd.Series(usage)
age = (age.fillna(age.mean())).astype(dtype=np.int64)

df['AGE'] = age
df['DURATION_M'] = usage

df = df.drop(['BIRTHDAY', 'ACT_DATE'], axis=1)

In [56]:
df

,USER_ID,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M
0,24588883,Q,TP_3GM,0.0,Commercial,Promo,M,NaN,False,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6
1,22709104,D,TP_XS,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23
2,608546,D,TP_FREE,0.0,NaN,NaN,F,NaN,False,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91
3,6309892,D,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58
4,7556468,D,TP_DL012,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,D,TP_MNEW,2.0,Commercial,Promo,M,Active,True,False,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15
19996,24726776,F,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2
19997,4331543,R,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69
19998,22829316,D,TP_STP,0.0,Commercial,Standard,M,NaN,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22
19999,23850584,D,TP_XS,0.0,Commercial,Standard,M,NaN,False,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12

Make activity column

In [57]:
k = 0.2
octmean = df.REVENUE_OCT_16.mean()
novmean = df.REVENUE_NOV_16.mean()
activity = []

for entry in range(len(df)):
    if (df.REVENUE_OCT_16[entry] >= octmean*k)&(df.REVENUE_NOV_16[entry] >= octmean*k):
        activity.append('Active')
    elif (df.REVENUE_OCT_16[entry] == 0)&(df.REVENUE_NOV_16[entry] == 0):
        activity.append('Inactive')
    else:
        activity.append('Weakly active')

df['ACTIVITY'] = pd.Series(activity)
df

,USER_ID,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVITY
0,24588883,Q,TP_3GM,0.0,Commercial,Promo,M,NaN,False,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,Inactive
1,22709104,D,TP_XS,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,Inactive
2,608546,D,TP_FREE,0.0,NaN,NaN,F,NaN,False,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,Active
3,6309892,D,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,Inactive
4,7556468,D,TP_DL012,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,D,TP_MNEW,2.0,Commercial,Promo,M,Active,True,False,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,Active
19996,24726776,F,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,Inactive
19997,4331543,R,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,Active
19998,22829316,D,TP_STP,0.0,Commercial,Standard,M,NaN,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,Active
19999,23850584,D,TP_XS,0.0,Commercial,Standard,M,NaN,False,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,Active

OHE of ACTIVITY column

In [58]:
OHE = OneHotEncoder(
    sparse=False,  
    handle_unknown='ignore'
)

df1 = pd.DataFrame(OHE.fit_transform(df[['ACTIVITY']]), columns=['ACTIVE', 'WEAKLY_ACTIVE', 'INACTIVE'])

df = df.join(df1)
df = df.drop(['ACTIVITY', 'STATUS'], axis = 1)
df

,USER_ID,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE
0,24588883,TP_3GM,0.0,Commercial,Promo,M,NaN,False,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0
1,22709104,TP_XS,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0
2,608546,TP_FREE,0.0,NaN,NaN,F,NaN,False,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0
3,6309892,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0
4,7556468,TP_DL012,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,TP_MNEW,2.0,Commercial,Promo,M,Active,True,False,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0
19996,24726776,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0
19997,4331543,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,1.0,0.0,0.0
19998,22829316,TP_STP,0.0,Commercial,Standard,M,NaN,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0
19999,23850584,TP_XS,0.0,Commercial,Standard,M,NaN,False,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0

Log TP_CHANGES_NUM

In [59]:
logtp = []
for entry in df.TP_CHANGES_NUM:
    if entry:
        logtp.append(np.log(entry) if entry else 0)

df['LOG_TP_CHANGES_NUM'] = pd.Series(logtp)
df.drop(['TP_CHANGES_NUM'], axis=1)
df

,USER_ID,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM
0,24588883,TP_3GM,0.0,Commercial,Promo,M,NaN,False,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0,0.000000
1,22709104,TP_XS,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0,0.000000
2,608546,TP_FREE,0.0,NaN,NaN,F,NaN,False,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0,0.000000
3,6309892,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0,0.000000
4,7556468,TP_DL012,0.0,Commercial,Standard,F,NaN,False,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,TP_MNEW,2.0,Commercial,Promo,M,Active,True,False,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0,NaN
19996,24726776,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0,NaN
19997,4331543,TP_ANDR,0.0,NaN,NaN,M,NaN,False,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,1.0,0.0,0.0,NaN
19998,22829316,TP_STP,0.0,Commercial,Standard,M,NaN,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0,NaN
19999,23850584,TP_XS,0.0,Commercial,Standard,M,NaN,False,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0,NaN

Predict gender by average value of OUTGOING_OCT_16 and OUTGOING_NOV_16

In [60]:
gb = df.groupby(by=['GENDER'])[['OUTGOING_OCT_16','OUTGOING_NOV_16']].mean()
gb

        OUTGOING_OCT_16  OUTGOING_NOV_16
GENDER
F            163.517547       162.045140
M            116.511771       113.674202

In [74]:
f_outgoing_mean = 162.78
m_outgoing_mean = 115
border = (f_outgoing_mean + m_outgoing_mean)/2
print(df.GENDER.value_counts(dropna=False))
for entry in range(len(df)):
    if df.GENDER[entry].isnul():
        df.GENDER[entry] = 'F' if np.mean(df.OUTGOING_OCT_16[entry], 
                                          df.OUTGOING_NOV_16[entry]) > border else 'M'
df.GENDER.value_counts(dropna=False)

M      10958
F       8583
NaN      459
Name: GENDER, dtype: int64

AttributeError: 'str' object has no attribute 'isnul'

Trafic plans and average refill in NOV and OCT

In [62]:
df.TP_CURRENT.value_counts()
tp = df.pivot_table(
    values = ['REFILL_OCT_16','REFILL_NOV_16'], 
    index = 'TP_CURRENT',  
    aggfunc = 'mean'
)
tp

            REFILL_NOV_16  REFILL_OCT_16
TP_CURRENT
TP_3GM       71821.649976   75755.841679
TP_ANDR     160681.145114  147507.403751
TP_CRTBL     31755.447942   34338.175948
TP_DINAM         0.000000       0.000000
TP_DL006     44101.123596   41966.292135
TP_DL012     64653.115334   65877.154220
TP_FREE      37245.283019   41094.339623
TP_INFIN     48007.662835   53371.647510
TP_INTER     55602.409639   55903.614458
TP_L         92435.897436   85732.600733
TP_LNEW     103593.073593   96147.186147
TP_LTP      201250.000000  173333.333333
TP_LYL30      3333.333333    6666.666667
TP_LYOLF     46321.839080   46781.609195
TP_M         66046.025105   66338.912134
TP_MLTSV     57500.000000   73333.333333
TP_MNEW      68806.818182   63181.818182
TP_MTP       85053.763441   63548.387097
TP_OPENL     40384.615385   46666.666667
TP_OPEOP     18013.698630   14726.027397
TP_S         54126.984127   67989.417989
TP_SNEW      72925.170068   67993.197279
TP_ST240      8775.510204   12448.979592
TP_STATE     32041.522491   28892.733564
TP_STP       49922.992299   49922.992299
TP_SUPN      72903.225806   89193.548387
TP_TLKTV     41538.461538   48791.208791
TP_UTP      110769.230769  211538.461538
TP_XL       104480.000000   97965.714286
TP_XS        37145.623548   36963.594113
TP_XXL      136666.666667   99523.809524

OHE on Start pack

In [63]:
OHE = OneHotEncoder(
    sparse=False,  
    handle_unknown='ignore'
)
df.START_PACK = df.START_PACK.fillna('Not defined')
df1 = pd.DataFrame(OHE.fit_transform(df[['START_PACK']]))
df1

         0    1    2
0      1.0  0.0  0.0
1      1.0  0.0  0.0
2      0.0  1.0  0.0
3      0.0  1.0  0.0
4      1.0  0.0  0.0
...    ...  ...  ...
19995  1.0  0.0  0.0
19996  0.0  0.0  1.0
19997  0.0  1.0  0.0
19998  1.0  0.0  0.0
19999  1.0  0.0  0.0

[20000 rows x 3 columns]

Label encoder on Mlls state

In [64]:
LE = LabelEncoder()
df.MLLS_STATE = df.MLLS_STATE.fillna('Not defined')

df1 = pd.DataFrame(LE.fit_transform(df[['MLLS_STATE']]), columns=['L_MLLS_STATE'])
df = df.join(df1)
df = df.drop(['MLLS_STATE'], axis = 1)
df

C:\Python\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,USER_ID,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,L_MLLS_STATE
0,24588883,TP_3GM,0.0,Commercial,Promo,M,False,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0,0.000000,3
1,22709104,TP_XS,0.0,Commercial,Standard,F,False,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0,0.000000,3
2,608546,TP_FREE,0.0,Not defined,NaN,F,False,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0,0.000000,3
3,6309892,TP_ANDR,0.0,Not defined,NaN,M,False,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0,0.000000,3
4,7556468,TP_DL012,0.0,Commercial,Standard,F,False,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0,0.693147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,TP_MNEW,2.0,Commercial,Promo,M,True,False,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0,NaN,0
19996,24726776,TP_CRTBL,0.0,Promo,Standard,F,False,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0,NaN,3
19997,4331543,TP_ANDR,0.0,Not defined,NaN,M,False,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,1.0,0.0,0.0,NaN,3
19998,22829316,TP_STP,0.0,Commercial,Standard,M,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0,NaN,3
19999,23850584,TP_XS,0.0,Commercial,Standard,M,False,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0,NaN,3

Oblig num to binary

In [66]:
df.OBLIG_NUM = df.OBLIG_NUM.fillna(0)

Remove excess data from columns START_PACK and OFFER_GROUP. Combining and LE.

In [67]:

pd.crosstab(df['START_PACK'].fillna(-1), df['OFFER_GROUP'].fillna(-1))
df['Combined'] = df[['START_PACK','OFFER_GROUP']].fillna('').sum(axis=1)
LE = LabelEncoder()
df1 = pd.DataFrame(LE.fit_transform(df[['Combined']]), columns=['L_OFFER_START_PACK'])
df = df.join(df1)
df = df.drop(['Combined', 'OFFER_GROUP', 'START_PACK'], axis = 1)
df

,USER_ID,TP_CURRENT,TP_CHANGES_NUM,GENDER,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,L_MLLS_STATE,L_OFFER_START_PACK
0,24588883,TP_3GM,0.0,M,False,False,0.0,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0,0.000000,3,0
1,22709104,TP_XS,0.0,F,False,False,0.0,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0,0.000000,3,1
2,608546,TP_FREE,0.0,F,False,False,0.0,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0,0.000000,3,2
3,6309892,TP_ANDR,0.0,M,False,False,0.0,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0,0.000000,3,2
4,7556468,TP_DL012,0.0,F,False,False,0.0,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0,0.693147,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,TP_MNEW,2.0,M,True,False,0.0,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0,NaN,0,0
19996,24726776,TP_CRTBL,0.0,F,False,False,0.0,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0,NaN,3,4
19997,4331543,TP_ANDR,0.0,M,False,False,0.0,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,1.0,0.0,0.0,NaN,3,2
19998,22829316,TP_STP,0.0,M,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0,NaN,3,1
19999,23850584,TP_XS,0.0,M,False,False,0.0,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0,NaN,3,1

Those 7312 whose outgoings are 0 are unactive

TP_CHANGES_NUM - log

START_PACK - OHE

NaN GENDER - predict gender based on calls duration

MLLS_STATE - to binary (active/begin - YES, NaN/deleted - NO)
                                  OR
                            label encoding
             
PORTED_IN - maybe we can delete it
PORTED_OUT - OBLIGATORY TO DELETE!
OBLIG_NUM - to binary(Nan = 0)

ASSET_TYPE_LAST and DEVICE_TYPE_BUS crosstab. Pay attention on the same equipment at the begining and at the end.

! Find a trend of refilling