In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [2]:
df = pd.read_csv('test.csv',sep = ';')
pd.set_option('display.max_columns', 500)
df

,USER_ID,ACT_DATE,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,BIRTHDAY,GENDER,MLLS_STATE,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16
0,24588883,2016-04-19,Q,TP_3GM,0.0,Commercial,Promo,1983-08-26,M,NaN,False,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000
1,22709104,2014-11-22,D,TP_XS,0.0,Commercial,Standard,1981-03-19,F,NaN,False,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000
2,608546,2009-04-02,D,TP_FREE,0.0,NaN,NaN,NaN,F,NaN,False,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855
3,6309892,2011-12-15,D,TP_ANDR,0.0,NaN,NaN,1984-11-28,M,NaN,False,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000
4,7556468,2013-06-17,D,TP_DL012,0.0,Commercial,Standard,1992-08-31,F,NaN,False,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,23478911,2015-07-11,D,TP_MNEW,2.0,Commercial,Promo,1994-04-11,M,Active,True,False,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700
19996,24726776,2016-08-17,F,TP_CRTBL,0.0,Promo,Standard,1994-04-24,F,NaN,False,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000
19997,4331543,2011-01-12,R,TP_ANDR,0.0,NaN,NaN,1987-05-12,M,NaN,False,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000
19998,22829316,2014-12-25,D,TP_STP,0.0,Commercial,Standard,1987-04-14,M,NaN,False,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790
19999,23850584,2015-10-06,D,TP_XS,0.0,Commercial,Standard,1997-08-12,M,NaN,False,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970

Add columns of age and duration in months

In [3]:
from datetime import date, datetime


today = datetime(2016,11,1)
def calculate_age(born):    
    return (today - born)/np.timedelta64(1,'Y')


def calculate_months(beg):
    return (today - beg)/np.timedelta64(1,'M')

In [4]:
age = []
usage = []

for entry in range(len(df)):
    usage.append(int(calculate_months(pd.to_datetime(df.ACT_DATE[entry]))))
    age.append(calculate_age(pd.to_datetime(df.BIRTHDAY[entry])))

age = pd.Series(age)
usage = pd.Series(usage)
age = (age.fillna(age.mean())).astype(dtype=np.int64)

df['AGE'] = age
df['DURATION_M'] = usage

In [5]:
df = df.drop(['ACT_DATE', 'USER_ID', 'BIRTHDAY', 'PORTED_OUT'], axis = 1)
df

,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M
0,Q,TP_3GM,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6
1,D,TP_XS,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23
2,D,TP_FREE,0.0,NaN,NaN,F,NaN,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91
3,D,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58
4,D,TP_DL012,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,TP_MNEW,2.0,Commercial,Promo,M,Active,True,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15
19996,F,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2
19997,R,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69
19998,D,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22
19999,D,TP_XS,0.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12

Make activity column

In [6]:
k = 0.2
octmean = df.REVENUE_OCT_16.mean()
novmean = df.REVENUE_NOV_16.mean()
activity = []

for entry in range(len(df)):
    if (df.REVENUE_OCT_16[entry] >= octmean*k)&(df.REVENUE_NOV_16[entry] >= octmean*k):
        activity.append('Active')
    elif (df.REVENUE_OCT_16[entry] == 0)&(df.REVENUE_NOV_16[entry] == 0):
        activity.append('Inactive')
    else:
        activity.append('Weakly active')

df['ACTIVITY'] = pd.Series(activity)
df

,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVITY
0,Q,TP_3GM,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,Inactive
1,D,TP_XS,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,Inactive
2,D,TP_FREE,0.0,NaN,NaN,F,NaN,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,Active
3,D,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,Inactive
4,D,TP_DL012,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,TP_MNEW,2.0,Commercial,Promo,M,Active,True,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,Active
19996,F,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,Inactive
19997,R,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,Active
19998,D,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,Active
19999,D,TP_XS,0.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,Active

OHE of ACTIVITY column

In [7]:
OHE = OneHotEncoder(
    sparse=False,  
    handle_unknown='ignore'
)

df1 = pd.DataFrame(OHE.fit_transform(df[['ACTIVITY']]), columns=['ACTIVE', 'WEAKLY_ACTIVE', 'INACTIVE'])

df = df.join(df1)
df = df.drop(['STATUS'], axis = 1)
df

,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE
0,TP_3GM,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,Inactive,0.0,1.0,0.0
1,TP_XS,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,Inactive,0.0,1.0,0.0
2,TP_FREE,0.0,NaN,NaN,F,NaN,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,Active,1.0,0.0,0.0
3,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,Inactive,0.0,1.0,0.0
4,TP_DL012,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,Active,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TP_MNEW,2.0,Commercial,Promo,M,Active,True,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,Active,1.0,0.0,0.0
19996,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,Inactive,0.0,1.0,0.0
19997,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,Active,1.0,0.0,0.0
19998,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,Active,1.0,0.0,0.0
19999,TP_XS,0.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,Active,1.0,0.0,0.0

Log TP_CHANGES_NUM

In [8]:
logtp = []
for entry in df.TP_CHANGES_NUM:
    if entry:
        logtp.append(np.log(entry) if entry else 0)

df['LOG_TP_CHANGES_NUM'] = pd.Series(logtp)
df.drop(['TP_CHANGES_NUM'], axis=1)
df

,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM
0,TP_3GM,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,Inactive,0.0,1.0,0.0,0.000000
1,TP_XS,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,Inactive,0.0,1.0,0.0,0.000000
2,TP_FREE,0.0,NaN,NaN,F,NaN,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,Active,1.0,0.0,0.0,0.000000
3,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,Inactive,0.0,1.0,0.0,0.000000
4,TP_DL012,0.0,Commercial,Standard,F,NaN,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,Active,1.0,0.0,0.0,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TP_MNEW,2.0,Commercial,Promo,M,Active,True,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,Active,1.0,0.0,0.0,NaN
19996,TP_CRTBL,0.0,Promo,Standard,F,NaN,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,Inactive,0.0,1.0,0.0,NaN
19997,TP_ANDR,0.0,NaN,NaN,M,NaN,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,Active,1.0,0.0,0.0,NaN
19998,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,Active,1.0,0.0,0.0,NaN
19999,TP_XS,0.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,Active,1.0,0.0,0.0,NaN

Predict gender by average value of OUTGOING_OCT_16 and OUTGOING_NOV_16

In [9]:
gb = df.groupby(by=['GENDER'])[['OUTGOING_OCT_16','OUTGOING_NOV_16']].mean()
gb

        OUTGOING_OCT_16  OUTGOING_NOV_16
GENDER
F            163.517547       162.045140
M            116.511771       113.674202

In [10]:
f_outgoing_mean = 162.78
m_outgoing_mean = 115
border = (f_outgoing_mean + m_outgoing_mean)/2


for entry in range(len(df)):
    if pd.isnull(df.GENDER[entry]):
        df.GENDER[entry] = 'F' if (df.OUTGOING_OCT_16[entry]+ 
                                          df.OUTGOING_NOV_16[entry])/2 > border else 'M'

C:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [11]:
OHE = OneHotEncoder(
    sparse=False,  
    handle_unknown='ignore'
)
df.GENDER.value_counts(dropna = False)
df1 = pd.DataFrame(OHE.fit_transform(df[['GENDER']]), columns = ['FEMALE', 'MALE'])
df = df.join(df1)
df = df.drop(['GENDER'], axis = 1)
df

,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE
0,TP_3GM,0.0,Commercial,Promo,NaN,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,Inactive,0.0,1.0,0.0,0.000000,0.0,1.0
1,TP_XS,0.0,Commercial,Standard,NaN,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,Inactive,0.0,1.0,0.0,0.000000,1.0,0.0
2,TP_FREE,0.0,NaN,NaN,NaN,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,Active,1.0,0.0,0.0,0.000000,1.0,0.0
3,TP_ANDR,0.0,NaN,NaN,NaN,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,Inactive,0.0,1.0,0.0,0.000000,0.0,1.0
4,TP_DL012,0.0,Commercial,Standard,NaN,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,Active,1.0,0.0,0.0,0.693147,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TP_MNEW,2.0,Commercial,Promo,Active,True,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,Active,1.0,0.0,0.0,NaN,0.0,1.0
19996,TP_CRTBL,0.0,Promo,Standard,NaN,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,Inactive,0.0,1.0,0.0,NaN,1.0,0.0
19997,TP_ANDR,0.0,NaN,NaN,NaN,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,Active,1.0,0.0,0.0,NaN,0.0,1.0
19998,TP_STP,0.0,Commercial,Standard,NaN,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,Active,1.0,0.0,0.0,NaN,0.0,1.0
19999,TP_XS,0.0,Commercial,Standard,NaN,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,Active,1.0,0.0,0.0,NaN,0.0,1.0

Trafic plans and average refill in NOV and OCT

In [12]:
df.TP_CURRENT.value_counts()
tp = df.pivot_table(
    values = ['REFILL_OCT_16','REFILL_NOV_16'], 
    index = 'TP_CURRENT',  
    aggfunc = 'mean'
)
tp

            REFILL_NOV_16  REFILL_OCT_16
TP_CURRENT
TP_3GM       71821.649976   75755.841679
TP_ANDR     160681.145114  147507.403751
TP_CRTBL     31755.447942   34338.175948
TP_DINAM         0.000000       0.000000
TP_DL006     44101.123596   41966.292135
TP_DL012     64653.115334   65877.154220
TP_FREE      37245.283019   41094.339623
TP_INFIN     48007.662835   53371.647510
TP_INTER     55602.409639   55903.614458
TP_L         92435.897436   85732.600733
TP_LNEW     103593.073593   96147.186147
TP_LTP      201250.000000  173333.333333
TP_LYL30      3333.333333    6666.666667
TP_LYOLF     46321.839080   46781.609195
TP_M         66046.025105   66338.912134
TP_MLTSV     57500.000000   73333.333333
TP_MNEW      68806.818182   63181.818182
TP_MTP       85053.763441   63548.387097
TP_OPENL     40384.615385   46666.666667
TP_OPEOP     18013.698630   14726.027397
TP_S         54126.984127   67989.417989
TP_SNEW      72925.170068   67993.197279
TP_ST240      8775.510204   12448.979592
TP_STATE     32041.522491   28892.733564
TP_STP       49922.992299   49922.992299
TP_SUPN      72903.225806   89193.548387
TP_TLKTV     41538.461538   48791.208791
TP_UTP      110769.230769  211538.461538
TP_XL       104480.000000   97965.714286
TP_XS        37145.623548   36963.594113
TP_XXL      136666.666667   99523.809524

Remove excess data from columns START_PACK and OFFER_GROUP. Combining and LE.

In [13]:
pd.crosstab(df['START_PACK'].fillna(-1), df['OFFER_GROUP'].fillna(-1))
df['Combined'] = df[['START_PACK','OFFER_GROUP']].fillna('').sum(axis=1)
LE = LabelEncoder()
df1 = pd.DataFrame(LE.fit_transform(df[['Combined']]), columns=['L_OFFER_START_PACK'])
df = df.join(df1)
df = df.drop(['Combined', 'OFFER_GROUP', 'START_PACK'], axis = 1)
df

C:\Python\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,TP_CURRENT,TP_CHANGES_NUM,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE,L_OFFER_START_PACK
0,TP_3GM,0.0,NaN,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,Inactive,0.0,1.0,0.0,0.000000,0.0,1.0,1
1,TP_XS,0.0,NaN,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,Inactive,0.0,1.0,0.0,0.000000,1.0,0.0,2
2,TP_FREE,0.0,NaN,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,Active,1.0,0.0,0.0,0.000000,1.0,0.0,0
3,TP_ANDR,0.0,NaN,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,Inactive,0.0,1.0,0.0,0.000000,0.0,1.0,0
4,TP_DL012,0.0,NaN,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,Active,1.0,0.0,0.0,0.693147,1.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TP_MNEW,2.0,Active,True,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,Active,1.0,0.0,0.0,NaN,0.0,1.0,1
19996,TP_CRTBL,0.0,NaN,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,Inactive,0.0,1.0,0.0,NaN,1.0,0.0,4
19997,TP_ANDR,0.0,NaN,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,Active,1.0,0.0,0.0,NaN,0.0,1.0,0
19998,TP_STP,0.0,NaN,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,Active,1.0,0.0,0.0,NaN,0.0,1.0,2
19999,TP_XS,0.0,NaN,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,Active,1.0,0.0,0.0,NaN,0.0,1.0,2

Label encoder on Mlls state

In [14]:
LE = LabelEncoder()
df.MLLS_STATE = df.MLLS_STATE.fillna('Not defined')

df1 = pd.DataFrame(LE.fit_transform(df[['MLLS_STATE']]), columns=['L_MLLS_STATE'])
df = df.join(df1)
df = df.drop(['MLLS_STATE'], axis = 1)
df

,TP_CURRENT,TP_CHANGES_NUM,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE,L_OFFER_START_PACK,L_MLLS_STATE
0,TP_3GM,0.0,False,NaN,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,Inactive,0.0,1.0,0.0,0.000000,0.0,1.0,1,3
1,TP_XS,0.0,False,NaN,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,Inactive,0.0,1.0,0.0,0.000000,1.0,0.0,2,3
2,TP_FREE,0.0,False,NaN,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,Active,1.0,0.0,0.0,0.000000,1.0,0.0,0,3
3,TP_ANDR,0.0,False,NaN,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,Inactive,0.0,1.0,0.0,0.000000,0.0,1.0,0,3
4,TP_DL012,0.0,False,NaN,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,Active,1.0,0.0,0.0,0.693147,1.0,0.0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TP_MNEW,2.0,True,NaN,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,Active,1.0,0.0,0.0,NaN,0.0,1.0,1,0
19996,TP_CRTBL,0.0,False,NaN,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,Inactive,0.0,1.0,0.0,NaN,1.0,0.0,4,3
19997,TP_ANDR,0.0,False,NaN,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,Active,1.0,0.0,0.0,NaN,0.0,1.0,0,3
19998,TP_STP,0.0,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,Active,1.0,0.0,0.0,NaN,0.0,1.0,2,3
19999,TP_XS,0.0,False,NaN,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,Active,1.0,0.0,0.0,NaN,0.0,1.0,2,3

Oblig num to binary

In [15]:
df.OBLIG_NUM = df.OBLIG_NUM.fillna(0)
df.OBLIG_NUM = df.OBLIG_NUM.replace(2,1)
df.OBLIG_NUM.value_counts(dropna=False)

0.0    16516
1.0     3484
Name: OBLIG_NUM, dtype: int64

In [16]:
pt = df.pivot_table(values='ACTIVITY',
                    columns='TP_CURRENT',
                    aggfunc=lambda x: x.mode().iat[0])

k = []
v = []
for item in pt:
    k.append(item)
    
for item in pt.iloc[0]:
    v.append(item)
d = dict(zip(k, v)) 

TP_ACTIVE = []
for entry in df.TP_CURRENT:   
    TP_ACTIVE.append(d[entry])

df['TP_ISACTIVE'] = pd.Series(TP_ACTIVE)

OHE = OneHotEncoder(
    sparse=False,  
    handle_unknown='ignore'
)
df1 = pd.DataFrame(OHE.fit_transform(df[['TP_ISACTIVE']]), 
                   columns = ['TP_ACTIVE', 'TP_WEAKLY_ACTIVE', 'TP_INACTIVE'])
df = df.join(df1)
df = df.drop(['TP_ISACTIVE', 'TP_CURRENT', 'ACTIVITY'], axis = 1)
df

,TP_CHANGES_NUM,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE,L_OFFER_START_PACK,L_MLLS_STATE,TP_ACTIVE,TP_WEAKLY_ACTIVE,TP_INACTIVE
0,0.0,False,0.0,False,NaN,Modem/Router,Regional Cities,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0,0.000000,0.0,1.0,1,3,0.0,1.0,0.0
1,0.0,False,0.0,False,NaN,Other,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0,0.000000,1.0,0.0,2,3,1.0,0.0,0.0
2,0.0,False,0.0,False,NaN,Smartphone,Countryside,150000.0,0.0,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0,0.000000,1.0,0.0,0,3,0.0,0.0,1.0
3,0.0,False,0.0,False,Smartphone,Undefined,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0,0.000000,0.0,1.0,0,3,1.0,0.0,0.0
4,0.0,False,0.0,False,NaN,Smartphone,Minsk,60000.0,90000.0,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0,0.693147,1.0,0.0,2,3,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2.0,True,0.0,False,NaN,Smartphone,Mix,70000.0,100000.0,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0,NaN,0.0,1.0,1,0,1.0,0.0,0.0
19996,0.0,False,0.0,False,NaN,Tablet,Local Towns,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0,NaN,1.0,0.0,4,3,0.0,0.0,1.0
19997,0.0,False,0.0,False,Handset,Undefined,Undefined,100000.0,100000.0,NaN,NaN,NaN,NaN,10.000,10.000,29,69,1.0,0.0,0.0,NaN,0.0,1.0,0,3,1.0,0.0,0.0
19998,0.0,False,1.0,True,Smartphone,Smartphone,Regional Cities,60000.0,60000.0,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0,NaN,0.0,1.0,2,3,0.0,1.0,0.0
19999,0.0,False,0.0,False,NaN,Undefined,Mix,130000.0,80000.0,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0,NaN,0.0,1.0,2,3,1.0,0.0,0.0

Boolean to bin

In [17]:
df.PORTED_IN = df.PORTED_IN.replace(False, 0)
df.PORTED_IN = df.PORTED_IN.replace(True, 1)
df.OBLIG_ON_START = df.OBLIG_ON_START.replace(False, 0)
df.OBLIG_ON_START = df.OBLIG_ON_START.replace(True, 1)

Converting old rubles to new ones

In [18]:
df.REFILL_OCT_16 = 0.0001 * df.REFILL_OCT_16
df.REFILL_NOV_16 = 0.0001 * df.REFILL_NOV_16

replacing nans

In [19]:
df.REFILL_OCT_16 = df.REFILL_OCT_16.fillna(0)
df.REFILL_NOV_16 = df.REFILL_OCT_16.fillna(0)
df.REFILL_OCT_16.value_counts(dropna = False)

#df['TREND'] = np.where(df.REFILL_OCT_16 <= df.REFILL_NOV_16, 1, 0)

0.0      9296
3.0      1135
5.0       968
10.0      965
7.0       622
         ...
57.0        1
260.0       1
200.0       1
76.0        1
74.0        1
Name: REFILL_OCT_16, Length: 107, dtype: int64

replacing nans

In [20]:
df.REFILL_NOV_16 = df.OUTGOING_OCT_16.fillna(0)
df.REFILL_NOV_16 = df.OUTGOING_NOV_16.fillna(0)

replacing nans

In [21]:
df.GPRS_OCT_16 = df.GPRS_OCT_16.fillna(0)
df.GPRS_NOV_16 = df.GPRS_NOV_16.fillna(0)
df.GPRS_NOV_16.value_counts(dropna = False)

0.0        11682
1.0          145
2.0           93
3.0           41
4.0           37
           ...
6412.0         1
4004.0         1
3196.0         1
14122.0        1
22013.0        1
Name: GPRS_NOV_16, Length: 4217, dtype: int64

replacing nans

In [22]:
df.REVENUE_OCT_16 = df.REVENUE_OCT_16.fillna(0)
df.REVENUE_NOV_16 = df.REVENUE_NOV_16.fillna(0)
df.REVENUE_OCT_16.value_counts(dropna = False)

0.000000     7285
3.000000      356
5.000000      202
7.700000      111
6.500000       93
             ...
10.017506       1
18.510000       1
5.370000        1
16.748190       1
4.230000        1
Name: REVENUE_OCT_16, Length: 3445, dtype: int64

find if last purchased device is the same as most used

In [23]:
df['DEVICE_MATCH'] = np.where(df.ASSET_TYPE_LAST == df.DEVICE_TYPE_BUS, 1, 0)

In [24]:
df.ASSET_TYPE_LAST.value_counts(dropna = False)

NaN            13711
Smartphone      4008
Modem (3G)      1362
Tablet           421
Handset          347
Touchphone       148
Modem (LTE)        3
Name: ASSET_TYPE_LAST, dtype: int64

replacing DEVICE_TYPE_BUS with 1 if device that the subscriber uses most is smartphone, 0 else

In [25]:
df.DEVICE_TYPE_BUS = np.where(df.DEVICE_TYPE_BUS == 'Smartphone', 1, 0)

prepearing for one hot encoding

In [26]:
df.ASSET_TYPE_LAST= np.where((df.ASSET_TYPE_LAST != 'Modem (3G)') & 
                             (df.ASSET_TYPE_LAST != 'Smartphone'),'Other',df.ASSET_TYPE_LAST)
df

,TP_CHANGES_NUM,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE,L_OFFER_START_PACK,L_MLLS_STATE,TP_ACTIVE,TP_WEAKLY_ACTIVE,TP_INACTIVE,DEVICE_MATCH
0,0.0,0.0,0.0,0.0,Other,0,Regional Cities,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0,0.000000,0.0,1.0,1,3,0.0,1.0,0.0,0
1,0.0,0.0,0.0,0.0,Other,0,Local Towns,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0,0.000000,1.0,0.0,2,3,1.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,Other,1,Countryside,15.0,46.850000,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0,0.000000,1.0,0.0,0,3,0.0,0.0,1.0,0
3,0.0,0.0,0.0,0.0,Smartphone,0,NaN,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0,0.000000,0.0,1.0,0,3,1.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,Other,1,Minsk,6.0,266.066667,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0,0.693147,1.0,0.0,2,3,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2.0,1.0,0.0,0.0,Other,1,Mix,7.0,68.183333,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0,NaN,0.0,1.0,1,0,1.0,0.0,0.0,0
19996,0.0,0.0,0.0,0.0,Other,0,Local Towns,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0,NaN,1.0,0.0,4,3,0.0,0.0,1.0,0
19997,0.0,0.0,0.0,0.0,Other,0,Undefined,10.0,0.000000,NaN,NaN,0.0,0.0,10.000,10.000,29,69,1.0,0.0,0.0,NaN,0.0,1.0,0,3,1.0,0.0,0.0,0
19998,0.0,0.0,1.0,1.0,Smartphone,1,Regional Cities,6.0,467.983333,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0,NaN,0.0,1.0,2,3,0.0,1.0,0.0,1
19999,0.0,0.0,0.0,0.0,Other,0,Mix,13.0,163.850000,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0,NaN,0.0,1.0,2,3,1.0,0.0,0.0,0

In [27]:
df.USAGE_AREA.value_counts(dropna = 'False')

Local Towns        3982
Minsk              3694
Mix                3388
Regional Cities    2411
Countryside        1563
Undefined           754
Name: USAGE_AREA, dtype: int64

In [28]:
df.USAGE_AREA = df.USAGE_AREA.fillna('Undefined')

OHE of USAGE_AREA, ASSET_TYPE_LAST columns

In [29]:
df_ohe = OHE.fit_transform(df[['USAGE_AREA', 'ASSET_TYPE_LAST']])
d = pd.DataFrame(df_ohe, columns = ["COUNTRYSIDE", "LOCAL_TOWNS", "MINSK", 'MIX',"REGIONAL_CITIES", 'UNDEFINED', 
                                    'MODEM_A_T_LAST', 'OTHER_A_T_LAST', 'SMARTPHOME_A_T_L'])
df = df.join(d)

In [30]:
df.drop(['USAGE_AREA', 'ASSET_TYPE_LAST'], axis = 1)

,TP_CHANGES_NUM,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,DEVICE_TYPE_BUS,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE,L_OFFER_START_PACK,L_MLLS_STATE,TP_ACTIVE,TP_WEAKLY_ACTIVE,TP_INACTIVE,DEVICE_MATCH,COUNTRYSIDE,LOCAL_TOWNS,MINSK,MIX,REGIONAL_CITIES,UNDEFINED,MODEM_A_T_LAST,OTHER_A_T_LAST,SMARTPHOME_A_T_L
0,0.0,0.0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0,0.000000,0.0,1.0,1,3,0.0,1.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0,0.000000,1.0,0.0,2,3,1.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1,15.0,46.850000,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0,0.000000,1.0,0.0,0,3,0.0,0.0,1.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0,0.000000,0.0,1.0,0,3,1.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1,6.0,266.066667,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0,0.693147,1.0,0.0,2,3,1.0,0.0,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2.0,1.0,0.0,0.0,1,7.0,68.183333,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0,NaN,0.0,1.0,1,0,1.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
19996,0.0,0.0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0,NaN,1.0,0.0,4,3,0.0,0.0,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19997,0.0,0.0,0.0,0.0,0,10.0,0.000000,NaN,NaN,0.0,0.0,10.000,10.000,29,69,1.0,0.0,0.0,NaN,0.0,1.0,0,3,1.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
19998,0.0,0.0,1.0,1.0,1,6.0,467.983333,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0,NaN,0.0,1.0,2,3,0.0,1.0,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
19999,0.0,0.0,0.0,0.0,0,13.0,163.850000,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0,NaN,0.0,1.0,2,3,1.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [31]:
df.LOG_TP_CHANGES_NUM.value_counts(dropna = 'False')

0.000000    2361
0.693147     563
1.098612     155
1.386294      40
1.609438      23
1.791759      12
2.079442       4
1.945910       3
2.197225       3
3.332205       1
3.988984       1
2.995732       1
2.833213       1
2.944439       1
2.890372       1
2.302585       1
2.772589       1
Name: LOG_TP_CHANGES_NUM, dtype: int64

In [32]:
df

,TP_CHANGES_NUM,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,AGE,DURATION_M,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE,L_OFFER_START_PACK,L_MLLS_STATE,TP_ACTIVE,TP_WEAKLY_ACTIVE,TP_INACTIVE,DEVICE_MATCH,COUNTRYSIDE,LOCAL_TOWNS,MINSK,MIX,REGIONAL_CITIES,UNDEFINED,MODEM_A_T_LAST,OTHER_A_T_LAST,SMARTPHOME_A_T_L
0,0.0,0.0,0.0,0.0,Other,0,Regional Cities,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,33,6,0.0,1.0,0.0,0.000000,0.0,1.0,1,3,0.0,1.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,Other,0,Local Towns,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,35,23,0.0,1.0,0.0,0.000000,1.0,0.0,2,3,1.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,Other,1,Countryside,15.0,46.850000,59.483333,46.850000,8.0,3.0,8.055,5.855,35,91,1.0,0.0,0.0,0.000000,1.0,0.0,0,3,0.0,0.0,1.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,Smartphone,0,Undefined,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,31,58,0.0,1.0,0.0,0.000000,0.0,1.0,0,3,1.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,Other,1,Minsk,6.0,266.066667,260.200000,266.066667,4205.0,4727.0,9.810,9.370,24,40,1.0,0.0,0.0,0.693147,1.0,0.0,2,3,1.0,0.0,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2.0,1.0,0.0,0.0,Other,1,Mix,7.0,68.183333,40.016667,68.183333,183.0,1960.0,7.700,7.700,22,15,1.0,0.0,0.0,NaN,0.0,1.0,1,0,1.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
19996,0.0,0.0,0.0,0.0,Other,0,Local Towns,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000,22,2,0.0,1.0,0.0,NaN,1.0,0.0,4,3,0.0,0.0,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19997,0.0,0.0,0.0,0.0,Other,0,Undefined,10.0,0.000000,NaN,NaN,0.0,0.0,10.000,10.000,29,69,1.0,0.0,0.0,NaN,0.0,1.0,0,3,1.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
19998,0.0,0.0,1.0,1.0,Smartphone,1,Regional Cities,6.0,467.983333,320.766667,467.983333,304.0,49.0,6.300,6.790,29,22,1.0,0.0,0.0,NaN,0.0,1.0,2,3,0.0,1.0,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
19999,0.0,0.0,0.0,0.0,Other,0,Mix,13.0,163.850000,369.550000,163.850000,0.0,0.0,13.580,7.970,19,12,1.0,0.0,0.0,NaN,0.0,1.0,2,3,1.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0